[submodule "api"]
	path = api
	url = https://github.com/supersonictw/line-bot-sdk-php-tiny.git
[submodule "normalize-url"]
	path = normalize-url
	url = https://gist.github.com/ae583e26fc1c9dea03403463323b7960.git
