[submodule "api"]
	path = api
	url = https://github.com/supersonictw/line-bot-sdk-php-tiny.git
[submodule "normalize-url"]
	path = normalize-url
	url = https://gist.github.com/60519fd5b6b26fe928cc.git
